*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#111;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
font-family:Arial;
margin:0;
padding:20px;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(to right,#000,#111);
}

.hero h2{
font-size:55px;
}

.hero p{
margin:20px 0;
font-size:20px;
}

.btn{
padding:12px 25px;
background:#00ff99;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:50px;
}

.card{
width:350px;
background:#1b1b1b;
border-radius:20px;
overflow:hidden;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
border-radius:10px;
}

.prompt-page{
padding:50px;
}

#searchInput{
width:100%;
padding:15px;
margin-bottom:30px;
border:none;
border-radius:10px;
}

.prompt-box{
background:#1b1b1b;
padding:20px;
margin-bottom:20px;
border-radius:15px;
}

.prompt-box button{
margin-top:15px;
padding:10px 20px;
border:none;
background:#00ff99;
font-weight:bold;
cursor:pointer;
border-radius:8px;
}

.about,
.contact{
padding:60px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
}

input,
textarea{
padding:15px;
border:none;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:black;
margin-top:30px;
}
body{
